name: Publish to Comfy Registry

on:
  push:
    branches:
      - main
    paths:
      - "pyproject.toml" # Only runs if you change the version in this file

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      
      - name: Publish to Comfy Registry
        uses: Comfy-Org/publish-node-action@v1
        with:
          personal_access_token: ${{ secrets.COMFY_REGISTRY_TOKEN }}
